= form_with(model: channel, local: true, class: 'ui form') do |form|
  - if channel.errors.any?
    #error_explanation
      %h2
        = pluralize(channel.errors.count, "error")
        prohibited this channel from being saved:
      %ul
        - channel.errors.full_messages.each do |message|
          %li= message
    <h4 class="ui dividing header">Shipping Information</h4>
  %h4.ui.dividing.header Channel information
  .field
    = form.label :name
    = form.text_field :name
  .field
    = form.label :category
    .ui.fluid.search.selection.dropdown
      %input{id: "category_dropdown", name: "receipt", type: "hidden", name: "channel[category]", value: "#{channel.category || ""}"}/
      %i.dropdown.icon
      .default.text Select channels
      .menu
        - categories.each do |cat|
          .item{"data-text" => cat, "data-value" => cat}
            =cat
  .actions
    = form.submit

:javascript
  $(document).ready(function() {
    $(function(){
        $('.ui.dropdown').dropdown();
    })
  })

