%h1 Channels
%p= flash[:alert] if flash[:alert]

%table#channels.ui.celled.table
  %thead
    %tr
      %th Channel
      %th Category
      %th More Info
  %tbody
    - @channels.each do |channel|
      %tr
        %td= channel.name
        %td= channel.category
        %td= link_to "Edit #{channel.name}", edit_channel_path(channel)

= link_to 'New Channel', new_channel_path

