
%h1 Welcome #{@current_user.first_name}

= form_tag '/home', :method => :post, :id => 'channels_form' do
	%h2 Channels:
	%br
	%table#channels
		%thead
			%tr
				<th width = 250px>Channel</th>
				<th width = 10px>Must</th>
				<th width = 10px> Good</th>
				<th width = 10px> Ok</th>
		%tbody
			- @all_channels.each do |channel|
				%tr
					%td= channel
					%td= check_box_tag "must_channels[]", "#{channel}", @must_channels.include?("#{channel}")
					%td= check_box_tag "good_channels[]", "#{channel}", @good_channels.include?("#{channel}")
					%td= check_box_tag "okay_channels[]", "#{channel}", @okay_channels.include?("#{channel}")
			
	%br
	= submit_tag 'Submit', :id => 'channels_pref'


		