.recommendations
  - if !recommendations.empty?
    %table.ui.striped.table
      %thead
        %tr
          %th Package Names
          %th Total Cost ($)
          %th Channels supported
      %tbody
        - recommendations.each do |r|
          %tr{:class => r["class"]}
            %td
              Subscribe to <br>
              - r["packages"].each do |p|
                = p["name"]
                (
                = "$" + p["cost"].to_s
                )
                <br>
            %td
              = r["packages"].map{ |p| p["cost"] }.sum
            %td
              .ui.styled.fluid.accordion
                .title
                  %i.dropdown.icon
                  Must have channels
                  = "(" + r["must_count"][0].to_s + "/" + r["must_count"][1].to_s + ")"
                .content
                  = r["must_channels"].map{ |c| c["name"] }.join(",")
                .title
                  %i.dropdown.icon
                  Good to have channels
                  = "(" + r["good_count"][0].to_s + "/" + r["good_count"][1].to_s + ")"
                .content
                  = r["good_channels"].map{ |c| c["name"] }.join(",")
                .title
                  %i.dropdown.icon
                  Ok to have channels
                  = "(" + r["ok_count"][0].to_s + "/" + r["ok_count"][1].to_s + ")"
                .content
                  = r["ok_channels"].map{ |c| c["name"] }.join(",")

:javascript
  $(document).ready(function() {
    $(function(){
        $('.ui.accordion').accordion();
    })
  })

