%h1 Let's Cut your Cord!
= form_with url: "/user/recommendation", class: "ui form" do |form|
  .field
    %label Must have channels
    .ui.fluid.multiple.search.selection.dropdown
      %input{id: "must_have_dropdown", name: "receipt", type: "hidden", name: "must_channel_ids[]", value: "#{@must_channel_ids.join(',')}", multiple: true}/
      %i.dropdown.icon
      .default.text Select channels
      .menu
        - @channels.each do |channel|
          .item{"data-text" => channel.name, "data-value" => channel.id}
            =channel.name
  .field
    %label Would like to have channels
    .ui.fluid.multiple.search.selection.dropdown
      %input{id: "good_to_have_dropdown", name: "receipt", type: "hidden", name: "good_channel_ids[]", value: "#{@good_channel_ids.join(',')}", multiple: true}
      %i.dropdown.icon
      .default.text Select channels
      .menu
        - @channels.each do |channel|
          .item{"data-text" => channel.name, "data-value" => channel.id}
            =channel.name
  .field
    %label Ok to have channels
    .ui.fluid.multiple.search.selection.dropdown
      %input{id: "ok_to_have_dropdown", name: "receipt", type: "hidden", name: "ok_channel_ids[]",  value: "#{@ok_channel_ids.join(',')}", multiple: true}
      %i.dropdown.icon
      .default.text Select channels
      .menu
        - @channels.each do |channel|
          .item{"data-text" => channel.name, "data-value" => channel.id}
            =channel.name
  .field
    = form.label :budget
    = form.number_field :budget, value: @budget
  .actions
    = form.submit "Get Recommendations", class: "ui primary button"
:javascript
  $(document).ready(function() {
    $(function(){
        $('.ui.dropdown').dropdown();
    })
  })

= render 'recommendation', recommendations: @recommendations
