= form_with(model: stream_package, local: true, class: "ui form") do |form|
  - if stream_package.errors.any?
    #error_explanation
      %h2
        = pluralize(stream_package.errors.count, "error")
        prohibited this stream_package from being saved:
      %ul
        - stream_package.errors.full_messages.each do |message|
          %li= message
  -# .field
  -#   %label= form.label :name
  -#   %input{name: =form.text_field :name, placeholder: "Package Name", type: "text"}
  .field
    = form.label :name
    = form.text_field :name
  .field
    = form.label :cost
    = form.number_field :cost
  .field
    %label Channels
    .ui.fluid.multiple.search.selection.dropdown
      %input{name: "receipt", type: "hidden"}/
      %i.dropdown.icon
      .default.text Select channels
      .menu
        .item{"data-text" => "HBO", "data-value" => "hbo"}
          HBO
        .item{"data-text" => "National Geographic", "data-value" => "national_geographic"}
          National Geographic
        .item{"data-text" => "Fox News", "data-value" => "fox_news"}
          Fox News
        .item{"data-text" => "BBC", "data-value" => "bbc"}
          BBC
        .item{"data-text" => "Cartoon Network", "data-value" => "cartoon_network"}
          Cartoon Network
        .item{"data-text" => "Pogo", "data-value" => "pogo"}
          Pogo
  .actions
    = form.submit
