%h1 Stream Packages
%p= flash[:alert] if flash[:alert]

%table#movies.ui.celled.table
  %thead
    %tr
      %th Package Name
      %th Cost ($/month)
      %th More Info
  %tbody
    - @stream_packages.each do |package|
      %tr
        %td= package.name
        %td= package.cost
        %td= link_to "More about #{package.name}", stream_package_path(package)

= link_to 'Add Stream Package', new_stream_package_path

