%p
  %strong Name:
  = @stream_package.name
%p
  %strong Cost:
  = @stream_package.cost
%p
  %strong= "Channels: "
  = "#{@stream_package.channels.map{|c| c.name}.join(',')}"
= link_to 'Edit', edit_stream_package_path(@stream_package)
= link_to 'Back', stream_packages_path
