<!DOCTYPE html>
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title CordCutter
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .ui.tabular.menu
      = link_to 'Cut Cord', "/user/input", class: request.path == "/user/input" ? "item active" : "item"
      = link_to 'Stream Packages', stream_packages_path, class: request.path == "/stream_packages" ? "item active" : "item"
      = link_to "Channels", channels_path, class: request.path == "/channels" ? "item active" : "item"
      = link_to "Logout", logout_path, class: "right item"
    #main
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]
      = yield
